body {
  font-family: Helvetica, sans-serif, Arial;
  overflow-x: hidden;
}

header {
  background: #F1F3FF;
  height: 500px;
}
.navbar-container {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #F1F3FF;
}
nav {
  width: 100%;
  height: 36px;
}
.logo {
  background: #0D28A6;
  width: 100px;
  height: 34px;
}
ul {
  align-items: center;
  margin-bottom: 0;
}

ul li{
  margin-right: 32px;
  font-size: 14px;
  font-weight: 400;
}

.btn {
  background-color: #5CB85F;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px;
}
.hero-text {
  padding-top: 60px;
}

.hero-text h1 {
  margin-top: 117px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
.hero-text p {
  margin-top: 16px;
  width: 468px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.image-car{
  margin-top: 33px;  
  padding-top: 60px;
  position: absolute;
  right: 0;
}
#shape{
  margin-top: 197px;
  width: 704px;
  height: 243px;
  background: #0D28A6;
  border-radius: 60px 0px 0px 0px;
}

/* our section */

.our-section {
  height: 100%;
  margin-top: 100px;
}
.right-img {
  text-align: right;
  padding: 0;
}
.right-img img {
  margin-right: 61px;
}
.desc {
  margin-top: 36px;
}

.desc h1 {
  width: 468px;
  margin-left: 39px;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.desc p {
  width: 468px;
  margin-top: 24px;
  margin-left: 39px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.desc ul {
  margin-left: 39px;
}

.desc ul li {
  padding-bottom: 18px;
}

.desc ul img {
  padding-right: 16px;
}

/* why-us */

.why-us h1 {
  margin: 100px 0 16px 0;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.why-us p{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

/* .card, .card-body{
  width: 268px;
  height: 196px;
} */

.card-body h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.card-body h5, .card-body img {
  margin-bottom: 16px;
}
.card-text {
  width: 220px;
}